
img {
  width: 100%;
}

ul {
    
    scroll-behavior: smooth;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(101, 76, 245);

  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(127.5, 127.5, 127.5);
  }
  
  .active {
    background-color: rgb(0, 0, 255);
  }

  header {
    background-color: #777;
    padding: 1px;
    font-size: 10px;
    text-align: center;
    color: white;
  }
  
  footer {
    background-color: #777;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: white;

  }

  nav {
    float: left;
    list-style-type: none;
    padding: 0;
    width: 60%;
    height: 800px;
    
  }
  
  article {
    float: right;
    padding: 0;
    width: 40%;
    height: 800px;
    background-color: #f1f1f1;
   
  }
 
  /* dynamic */
  @media (max-width: 600px) {
    ul li {
      width: 100%;
      height: auto;
    }

    
  }

/*........................... sticky...................... */

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}